config/.emacs.d/auto-save-list
config/.emacs.d/session.*
config/.emacs.d/image-dired
config/.emacs.d/.project-roots*
config/.emacs.d/ac-comphist.dat
config/.emacs.d/eshell/history
config/.emacs.d/autosave
config/.emacs.d/backup
config/.emacs.d/projectile-bookmarks.eld
*.log
__pycache__
*.swp