config/.emacs.d/auto-save-list
config/.emacs.d/session.*
config/.emacs.d/image-dired
config/.emacs.d/.project-roots*
config/.emacs.d/ac-comphist.dat
config/.emacs.d/eshell/history
config/.emacs.d/autosave
config/.emacs.d/backup
config/.emacs.d/backups
config/.emacs.d/places
config/.emacs.d/tramp
config/.emacs.d/abbrev_defs
config/.emacs.d/projectile-bookmarks.eld
config/.emacs.d/ido.last
*.log
__pycache__
*.swp
